.nav {
    position: absolute;
    left: 400px;
    top: 5px;
}

.title {
    font-size: 60px;
    font-family: 'K2D', sans-serif;
    font-weight: bold;
    
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding-right: 90em;
}